body{
	background-image: url('background.jpg');
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 20px;
	color: #072530;
	margin: auto;
}

#welcome{
	margin:auto;
	width: 100%;
	
	display:block;
	text-align: center;
	background-color: #2f8e9a;  
	color: #072530 ;
}

#username{
	margin:auto;
	text-align: center;
	display: block;
	background-color: #2f8e9a; 
	width: 40%;

	
	
}

#usernameinput{
	background-color: #ccd8dc; 
	margin-bottom: 5px;
	max-width: 90%;
	border: none;
}
#mykeyinput{
	background-color: #ccd8dc; 
	margin-bottom: 5px;
	max-width: 90%;
	border: none;
}


#usernamesubmit{
	background-color: #ccd8dc; 
	color:#072530;
	margin-bottom: 10px;
	font-weight: bold;
	border: none;
}

#allchat{
	margin: auto;

	text-align: center;
	display: none;
	width:100%;
}

#messages{
	margin:auto;
	text-align: left;
	background-color: #ccd8dc;
	
	height: 50%;
	width:90%;
	overflow-y: scroll;
}

#chatinput{
	margin:auto;
	margin-top: 5px;
	width:90%;
}

#inputMessage{
	margin:auto;
	background-color: #ccd8dc;
	
	color:#072530 ;
	border: none;
	margin-top: 5px;
}

#submitbutton{
	margin:auto;
	text-align: center;
	background-color: #2f8e9a;
	width:25%;
	border: none;
	font-weight: bold;
	margin-top: 5px;
}

@media only screen and (max-width: 1000px) {

	body{
	font-size: 40px;
	color: #072530;
	background-attachment: fixed;
	background-size: 100% 100%;
	
}
#welcome{
	margin:auto;
	display:block;
	text-align: center;
	background-color: #2f8e9a;  
	color: #072530 ;
	width: 100%;
}
    #username{
	margin:auto;
        font-size: 50px;
        display:block;
	text-align: center;
	
	background-color: #2f8e9a; 
	width: 100%;
	height: 95%;
	
	}
#usernameinput{  
	text-align: center;
	display:block;
	margin:auto;
	margin-bottom: 2px;
	width:100%;
	height: 20%;
	font-size: 40px;
	border: none;
}

#mykeyinput{  
	text-align: center;
	display:block;
	margin:auto;
	margin-bottom: 1px;
	width:100%;
	height: 20%;
	font-size: 40px;
	border: none;
}

#usernamesubmit{
	margin:auto;
	display:block;
	font-size: 40px;
	width: 90%;
	height: 20%;
	border: none;
}

#messages{
	font-size: 40px;
	display:block;
	margin:auto;
	text-align: left;
	background-color: #ccd8dc;
	
	height: 50%;
	width:99%;
	overflow-y: scroll;
}

#chatinput{
	display:block;
	margin:auto;
	margin-top: 5px;
	font-size: 40px;
	width:100%;
}

#inputMessage{
	margin:auto;
	display:block;
	background-color: #ccd8dc;
	width: 99%;
	height:10%;
	color:#072530 ;
	border: none;
	font-size: 40px;
	margin-top: 5px;
}

#submitbutton{
	margin:auto;
	display:block;
	text-align: center;
	background-color: #2f8e9a;
	width:99%;
	height:10%;
	border: none;
	font-weight: bold;
	font-size: 40px;
	margin-top: 5px;
}

}