body{
	background-image: url('background.jpg');
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 20px;
	color: #072530;
	margin: auto;
}

#welcome{
	margin:auto;
	text-align: center;
	background-color: #2f8e9a;  
	color: #072530 ;
}

#username{
	margin:auto;
	text-align: center;
	display: block;
	background-color: #2f8e9a; 
	width: 60%;
	padding: 5px;
}

#usernameinput{
	background-color: #ccd8dc; 
	margin-bottom: 5px;
	max-width: 90%;
	border: none;
}

#usernamesubmit{
	background-color: #ccd8dc; 
	color:#072530;
	font-weight: bold;
	border: none;
}

#allchat{
	margin: auto;
	text-align: center;
	display: none;
	width:100%;
}

#messages{
	margin:auto;
	text-align: left;
	background-color: #ccd8dc;
	padding:5px;
	height: 50%;
	width:90%;
	overflow-y: scroll;
}

#chatinput{
	margin:auto;
	margin-top: 5px;
	width:90%;
}

#inputMessage{
	margin:auto;
	background-color: #ccd8dc;
	width: 100%;
	color:#072530 ;
	border: none;
	margin-top: 5px;
}

#submitbutton{
	margin:auto;
	text-align: center;
	background-color: #2f8e9a;
	width:25%;
	border: none;
	font-weight: bold;
	margin-top: 5px;
}